<!doctype html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <div id="file">
        <div class="window">
            <div class="content">
            </div>
            <div class="close"></div>
        </div>
    </div>

    <div id="message">
        <div class="message">
            <div class="content"></div>
            <div class="input"><input type="text" class="send" /></div>
            <div class="close"></div>
        </div>
    </div>

    <div id="strip">
        <div class="strip">
            <div class="content"></div>
            <div class="close"></div>
        </div>
    </div>

    <div id="notewriter">
        <div class="notewriter">
            <div class="content"></div>
            <div class="close"></div>
        </div>
    </div>

    <div id="sketch">
        <div class="sketch">
            <div class="content"></div>
            <div class="close"></div>
        </div>
    </div>
    <div id="people">
        <div class="people">
            <div class="content-wrapper">
                <div class="content">
                    <h2>People Hub</h2>
                    <a href="#" class="collapse"></a>
                    <div class="scroll-pane">
                        <ul class="people-list"></ul>
                    </div>
                </div>
            </div>
            <div class="close"></div>
        </div>
    </div>
</body>
</html>
