!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/desktop.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
    script(src='/javascripts/lib/jquery-1.4.2.min.js')
    script(src="/javascripts/lib/jquery-ui-1.8rc3.custom.min.js")
    script(src="/javascripts/lib/Plugins/jquery.tmpl.min.js")
    script(src="/javascripts/lib/socket.io/socket.io.js")
    script(src="/javascripts/jui/jui.desktop.jquery.js")
    script(src="/javascripts/jui/JUI.js")
    script(src="/javascripts/class/base/Class.js")
    script(src="/javascripts/class/WindowManager.js")
    script(src="/javascripts/class/base/Desktop.js")
    script(src="/javascripts/sockets/Socket.js")
    script(src="/javascripts/sockets/SocketSubscriber.js")
    script(src="/javascripts/class/base/Action.js")
    script(src="/javascripts/class/base/Window.js")
    script(src="/javascripts/class/Button.js")
    script(src="/javascripts/class/Icon.js")
    script(src="/javascripts/class/Message.js")
    script(src="/javascripts/class/File.js")
    script(src="/javascripts/class/Sketch.js")
    script(src="/javascripts/class/MenuStrip.js")
    script(src="/javascripts/class/NoteWriter.js")
    script(src="/javascripts/class/People.js")
    script(src="/javascripts/jui/jui.desktop.config.js")
    script(src="/javascripts/jui/Load.js")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19781120-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    div!=body